<div data-host="">
  <% is_audio_only = @collection_resource.present? ? @collection_resource.collection.is_audio_only : false %>
  <%= render partial: 'collection_resources/show/mediaplayer', locals: { single_file: @resource_file, is_audio_only: is_audio_only } %>
  <%= render partial: 'interviews/interview_index/media_timeline',
    locals: { total_duration: @resource_file.duration, index_points: select_file_index_points(@file_index_points, @file_index_point) , active_point_id: params[:file_index_point_id]  } %>
  <% if params[:action] == "show" || params[:action] == "show_index"  %>
    <% if @file_index.present? %>
      <%= link_to 'Add Index Segment', 'javascript://', class: 'btn btn-outline-dark btn-block pull-left mt-2 add_tag', data: { url: add_index_file_path(@resource_file.id, @file_index.id) } %>
    <% else %>
      <%= link_to 'Add Index Segment', 'javascript://', class: 'btn btn-outline-dark btn-block pull-left mt-2 add_tag', data: { url: add_index_path(@resource_file.id) } %>
    <% end %>
  <% end %>
</div>
<style>
  .vjs-has-started .vjs-control-bar {
      display: flex !important;
      visibility: visible !important;
      opacity: 1 !important;
  }
</style>
