<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-6"><h1>Collections</h1></div>
            <div class="col-md-6">
              <%= link_to 'Add Collection', new_collection_path, class: 'btn btn-primary btn-xs pull-right' %>
              <%= link_to 'Export to CSV', export_collections_path(export_type: 'collection'), class: 'btn btn-outline-primary btn-xs pull-right mr-2 export_btn d-none' %>
            </div>
          </div>
        </div>
      </div>
      <div class="data-table collections-datatable">
        <%= content_tag :table, role: :datatable, class: ["table", "table-striped", 'table-bordered'], id: 'collection_data_table', data: { url: collections_path(format: :json)} do %>
          <thead>
          <tr>
            <th>Name</th>
            <th>Resources</th>
            <th>Featured</th>
            <th>Public</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        <% end %>
      </div>
    </main>
  </div>
</div>
<script type="text/javascript">
    var collection = new Collection();
    document.addEventListener("DOMContentLoaded", function (event) {
        collection.initialize();
    });
</script>
