<div class="annotation_set modal fade" id="annotation_set_model" tabindex="-1" role="dialog" aria-labelledby="annotation_set" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="h4">Edit Annotation Set</h4>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>