<div class="annotation_set modal fade" id="annotation_set_model" tabindex="-1" role="dialog" aria-labelledby="annotation_set" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h5 mb-0">Add Annotation Set</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
