<div class="dropdown float-right ml-2">
  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Table Options
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item manage-resource-columns-btn"> Manage Indexes Table</button>
    <button class="dropdown-item bluk-edit-btn">Bulk Edit Options</button>
  </div>
</div>
