<thead>
<tr>
  <% if table_called_from == 'permission_group' %>
    <% index_table_column_detail = FileIndex.permission_group_columns.to_json %>
    <% JSON.parse(index_table_column_detail)['columns_status'].each do |_, value| %>
      <% if !value['status'].blank? && value['status'] == 'true' %>
        <th>
          <span style="max-width: 180px; width: 180px; float: left; min-width: 100px;"><%= display_field_title_table(value['value'],'index') %></span>
        </th>
      <% end %>
    <% end %>
  <% else %>
    <th>
      <input type="checkbox" class="select_all_checkbox_resources" data-url="<%= bulk_resource_list_collections_path %>"
             aria-label="Select all file indexes" />
    </th>
    <% columns_details.each do |_k, h| %>
      <% if h['status'] == 'true' %>
        <th>
          <span style="max-width: 180px; width: 180px; float: left; min-width: 100px;"><%= FileIndex.fields_values[h['value']] %></span>
        </th>
      <% end %>
    <% end %>
  <% end %>



  <th>Action</th>
</tr>
</thead>
<tbody>
</tbody>