<div class="modal fade" id="index_upload" tabindex="-1" role="dialog" aria-labelledby="indexUploadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="index_upload_title">Index Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'indexes/form', file_index: @file_index %>
      </div>
    </div>
  </div>
</div>