<% @page_title = "More Search Options - #{application_name}" %>

<div class="advanced-search-form col-sm-12 mt-20px ">
  <div class="row">
    <div class="col-md-8">
      <%= render 'advanced_search_form', cached: iscached? %>
    </div>
    <div class="col-md-4">
      <%= render "advanced_search_help" %>
    </div>
  </div>
</div>