<div class="form-modal modal fade" id="with_password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true  ">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h3 font-weight-normal text-center">Enter current password to confirm your changes</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-signin">
          <div class="field">
            <%= f.label :current_password %>
            <%= f.input :current_password, label: false, input_html: { autocomplete: 'off', class:'form-control' } %>
          </div>
          <br>
          <div class="row with-password">
            <div class="col-md-12">
              <%= f.submit 'Continue', class: 'btn btn-block btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>