<div class="row" id="pswd_info">
  <div class="col-md-6">
    <div class="bg-light border p-3" style="margin-top: -15px;border-radius: 0 0 4px 4px;">
      <h4 class="font-size-12px">Password must contain:</h4>
      <ul class="list-unstyled">
        <li id="capital" class="validation_capital invalid-signup font-size-12px">At least <strong> 1 uppercase letter</strong></li>
        <li id="lower" class="validation_lower invalid-signup font-size-12px">At least <strong> 1 lowercase letter</strong></li>
        <li id="number" class="validation_number invalid-signup font-size-12px">At least <strong> one number</strong></li>
        <li id="length" class="validation_length invalid-signup font-size-12px">At least <strong> 8 characters</strong></li>
        <li id="special_character" class="validation_special_character invalid-signup font-size-12px">At least <strong> 1 special character (.@$!%*?&amp;)</strong></li>
        <li id="can_only_have_special_character" class="validation_can_only_have_special_character invalid-signup font-size-12px">Can only have <strong> special character (.@$!%*?&amp;)</strong></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bg-light border p-3" style="margin-top: -15px;border-radius: 0 0 4px 4px;">
      <h4 class="font-size-12px">Password must match:</h4>
      <ul class="list-unstyled">
        <li id="password_match" class="validation_password_match invalid-signup font-size-12px"><strong> Password and Password Confirmation must match</strong></li>
      </ul>
    </div>
  </div>
</div>