<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Dear <%= @user.full_name %>,</p>
<p>
  An Aviary administrator has invited you to join the aviary platform. Please confirm your
  account  <%= @confirmation_link %>
</p>
<p>Best,</p>
<p>The Aviary Team</p>
</body>
</html>