<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Hi Team!</p>
<p>
  There is a change in ohms.xsd at <a href="<%= nunncenter_ohms_xsd %>" target="_blank">nunncenter</a>. Please check and add latest XSD in Aviary system.
</p>
<p>Best,</p>
<p>The Aviary Team</p>
</body>
</html>