<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>New Request</h3>
<p><b>Name:</b><%= @support_request.name %></p>
<p><b>Email:</b><%= @support_request.email %></p>
<p><b>Organization:</b><%= @support_request.organization %></p>
<p><b>Message:</b><%= @support_request.message %></p>
</body>
</html>