<table class="table" id="location_view_report">
  <thead>
  <tr>
    <th scope="col">Country</th>
    <th scope="col">Region</th>
    <th scope="col">Count</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>