<div class="modal fade" id="modalPopupNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-md modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5" id="modalPopupNotesTitle">Interview Notes</h5>
        <button type="button" class="close modalPopupNotesClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalPopupNotesBody">
        <div id="listNotes" class="custom-height-list"></div>
        <form method="POST" action="" id='notesForm'>
          <div class="row custom_form mb-2">
            <div class="col-md-12">
              <div class="form-group">
                <div class="field-title"><label>Add Note</label></div>
                <textarea name="note" id="note" rows="3" placeholder="Add a note here. When you're done, click the Add Note button below." class="form-control" ></textarea>
              </div>
            </div>
            <div class="col-md-12"><span class="errors error_note muted text-danger"></span></div>
          </div>
        </div>
        <div class="modal-footer">
          <button  class="btn btn-primary saveNotes">Add Note</button>
        </form>
      </div>
    </div>
  </div>
</div>