<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder">
          <div class="row">
            <div class="col-md-9"><h1>Metadata Editor </h1></div>
          </div>
        </div>
      </div>
      <div class="organization-section">
        <%= render 'form' %>
      </div>
    </main>
  </div>
</div>