<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="organization-section">
        <%= render 'form' %>
      </div>
    </main>
  </div>
</div>