<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
        <%= simple_form_for @ohms_configuration, :url => ohms_configuration_update_path, html: { class: "ohms_configuration" }, method: :post do |f| %>
            <div class="container_configuration mt-5 col-md-5">
                <div class="field-configuration mb-2">
                    <label for="ohms_configuration"><strong> Default OHMS Viewer Location URL</strong> 
                        <a class="ohms-configuration-btn ohms_configuration_link ml-1" tabindex="0" aria-label="Default OHMS Viewer Location URL" data-toggle="tooltip" data-placement="top" title="Default OHMS Viewer Location URL" href="https://confluence.weareavp.com/display/AVIARYSUPP/Linking+to+your+OHMS+XML+file+in+the+OHMS+Viewer" target="_blank">
                            <img src="<%= image_path 'icons/question.png' %>" alt="Default OHMS Viewer Location URL">
                        </a>
                    </label>

                </div>
                <%= f.text_area :configuration, required: true, label: false, class: 'form-control configuration' %>

                <div class="row mt-4">
                    <div class="col-md-12 text-right">
                    <%= f.submit 'Save', class: 'btn btn-success' %>
                </div>
            </div>

        </div>
        <% end %>

    </main>

  </div>
</div>
