<style>
    .iframe_container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex align-items-center">
                <a id="back-to-search-btn" class="collection_edit_title"
                   href="<%= (url_for(:back) == "javascript:history.back()" ? ohms_index_path(params[:id]) : url_for(:back)) %>">
                  <span class="fa fa-angle-left "></span>
                  <small class="mx-3">
                    Back to
                    <% if url_for(:back).include? "managers" %>
                      <strong>Interview Manager</strong>
                    <% else %>
                      <strong>Interview Index</strong>
                    <% end %>
                  </small>
                </a>

                <h1 class="h3 text-left m-0">Interview Preview</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="iframe_container">
        <iframe class="responsive-iframe"
                src="https://viewer.aviaryplatform.com?cachefile=<%=
                  export_interviews_manager_url(params[:id], 'xml') + '?viewer=' + ENV['PREVIEW_KEY']
                %>&external=true">
        </iframe>
      </div>
    </main>

  </div>
</div>




