<div class="time-share">
  <div class="custom-checkbox">
    <input id="st-check" type="checkbox" name="start_time_checkbox" class="start_time_checkbox">
    <label for="st-check">Start at</label>
  </div>
  <input type="text" id="start_time_share" name="start_time" class="video-start-time" placeholder="00:00" disabled="disabled">
</div>