<div id="saved_search_table" class="main_contain">
  <main>
    <div class="text-headline jumbotron">
      <div class="heading-holder table-head">
        <div class="row">
          <div class="col-md-6"><h1><%="#{current_user.full_name.strip}'s"%> Saved Searches</h1></div>
        </div>
      </div>
    </div>
    <% existing_values = [] %>
    <div class="data-table public-access-url-datatable">
      <div>
        <table class="table table-hover table-bordered" id="saved_searches_table" data-url="<%= datatable_saved_searches_url %>">
          <thead>
          <tr>
            <th width="5%">ID</th>
            <th width="15%">Title</th>
            <th width="25%">Note</th>
            <th width="15%">Organization</th>
            <th width="15%">Date Created</th>
            <th width="15%">Date Modified</th>
            <th width="10%">Action</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
<script>
    let saved_searches = new SavedSearches();
    $(document).ready(function () {
      saved_searches.initialize();
    })
</script>
