<div class="custom_form">
  <div class="d-flex px-3 pr-5">
    <div class="form-group m-0">
      <div class="field-title"><label>Email Address</label></div>
      <%= text_field_tag :search_team_members, params[:search], name: 'user[][search]', type: 'email', class: 'form-control', placeholder: 'Email Address' %>
    </div>
    <div class="form-group">
      <div class="field-title"><label>Role</label></div>
      <%=
        select_tag "user[][user_role]", options_from_collection_for_select(@roles, 'id', 'name') %>
    </div>
    <button type="button" class="remove_member_row"></button>
  </div>
</div>