<div id="sub_nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon-User"></span> Admin Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to('Manage Users', adminary_users_url(subdomain: false), class: 'dropdown-item') %>
              <%= link_to('Manage Pending Users', pending_adminary_users_url(subdomain: false), class: 'dropdown-item') %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>