<div id="<%= loader_id %>" class="ml-1 <%= loader_class %> float-left d-none" >
  <div class="img">
    <div class="hold">
      <img class="h-20px" src="https://d2htnfwlizdcnh.cloudfront.net/public/images/ajax-loader.gif" alt="Ajax loader">
    </div>
  </div>
</div>