<div class="modal fade" id="general_modal_message_cust" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-md modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5" id="general_modal_title_cust">Operation Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body general_modal_body_cust">
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger " href="javascript:void(0)" id="general_modal_close_cust" data-dismiss="modal">Close</a>
        <a class="btn btn-danger " style="display: none;" href="javascript:void(0)" id="general_modal_close_cust_2" data-dismiss="modal">Close</a>
        <a class="btn btn-primary d-none"  href="javascript:void(0)" id="general_modal_close_cust_success">Yes</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-md modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5" id="modalPopupTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalPopupBody">
      </div>
      <div class="modal-footer" id="modalPopupFooter">
        <button type="button" class="btn btn-default" id="modalPopupFooterNo" data-dismiss="modal">No</button>
        <a href="" class="btn btn-danger" id="modalPopupFooterYes" data-method="delete" rel="nofollow">Yes</a>
        <a href="" class="btn btn-success d-none" id="modalPopupFooterYesGet" rel="nofollow">Yes</a>
      </div>
    </div>
  </div>
</div>