<% if !model_obj.new_record? && model_obj.send(target_type).present? && !(model_obj.send(target_type).url.include?('aviary_default_collection')|| model_obj.send(target_type).url.include?('aviary_default_banner')) %>
  <a class="btn-sm btn-danger float-right mb-1 text-white remove_image_custom cursor-pointer" data-url="<%= remove_image_target_wise_url(model_obj.class.name, model_obj.id, target_type) %> ">
  Remove
  </a>
<% end %>