<a class="fa fa-question-circle search_information_link <%=from %> <%= classes %>" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Aviary Search Tips" href="https://confluence.weareavp.com/display/AVIARYSUPP/Find+content+in+Aviary" target="_blank" ></a>
