<div class="contact-page">
  <div class="head">
    <div class="container">
      <h1>
        <% title 'Security' %>Security</h1>
      <p><%= description 'We are proud to announce that we are in the process of obtaining SOC2 Type 2 certification, underscoring our commitment to maintaining the highest standards of security. While we undergo this certification, we welcome inquiries about the robust measures we have implemented to safeguard our environment and ensure the security of both our and your data. For additional information, please reach out to us at ' %>
        <a href="mailto:aviary@weareavp.com" target="_blank">aviary@weareavp.com</a>.</p>
    </div>
  </div>
</div>
