<div class="terms-page">
  <div class="head">
      <div class="container">
        <h1><%= title 'Terms of Service' %></h1>
        <p>Thank you for using Aviary. By using Aviary, you agree to our Terms of Service, which is a legal agreement. If you are using Aviary for an organization, you are agreeing on behalf of that organization. Our Terms of Service apply to your use of our Websites and Services.</p>
      </div>
    </div>
    <div class="text">
      <div class="container">
      <ol>
        <li>
          <div class="title">Definitions</div>
            <p>When we say “Websites,” we mean our websites located at weareavp.com, Aviary.weareavp.com, coi.weareavp.com, catalyst.weareavp.com, Aviaryplatform.com including all subdomains and sites associated with those domains, and other websites that we operate now and in the future.</p>
          <p>When we say “Services,” we mean our Websites, Application Programming Interfaces (APIs), web applications, desktop applications, products, content, resources, and various third-party services that make up AVP.</p>
          <p>When we say “AVP,” we mean our Websites, Products, Resources, and Services collectively.
          When we say “information,” we mean all of the different forms of data that you provide us and that we collect from you from your use of the Services, your software, and your devices.</p>
        </li>
        <li>
          <div class="title">General Rules</div>
          <p>To use AVP, you must (a) be at least eighteen (18) years of age; (b) complete the registration process; (c) provide current and accurate information; (d) agree to these Terms; and (e) promise to follow these rules:</p>
            <ul>
              <li>You are responsible for all content you provide and your activities on AVP;</li>
              <li>You will use AVP in compliance with all applicable laws, rules, and regulations;</li>
              <li>You will not use AVP to solicit the performance of any activity which infringes our rights or the rights of others; and</li>
              <li>You will not use AVP to upload, transmit, or otherwise distribute any objectionable content, as solely determined by us.</li>
            </ul>
<p>If you break any of your promises above or any of the rules in these Terms, we may terminate your account. Your actions may also subject you to legal consequences. As long as you comply with our Terms of Service, we grant you a non-exclusive, non-transferable, limited privilege to use AVP. Your use of AVP is at your own risk.</p>
        </li>
        <li>
          <div class="title">Intellectual Property</div>
          <p>You own your content. We do not represent any ownership or claim any intellectual property rights over the information that you provide or that is provided to us.</p>
          <p>We own AVP and our Services. You may not copy, reproduce, alter, modify, resell, mirror, or create derivative works of AVP, our Services, or our content on AVP without our written permission by way of explicit licenses associated with works or a specific approval in response to a written request.</p>
          <p>You shall grant to us a royalty-free, worldwide, transferable, sub-licensable, irrevocable and perpetual license to incorporate into AVP or otherwise use any suggestions, enhancement requests, recommendations or other feedback that we receive from you or your agents.</p>
        </li>
        <li>
          <div class="title">Passwords and Accounts</div>
          <p>You’re responsible for keeping your account name and password confidential. You’re also responsible for any account that you have access to. You agree to notify us immediately of any unauthorized use of your account(s).</p>
          <p>We’re not responsible for any losses due to stolen or hacked passwords.
          You will not represent that you are any other individual or entity unless such individual or entity has given you written permission to act on their behalf.</p>
        </li>
        <li>
          <div class="title">Subscriptions</div>
          <p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</p>
          <ul>
            <li>
              <p><strong>Monthly Plan:</strong> A valid credit card is required for you to continue using the Services on a month-to-month basis after the thirty (30) day free trial period ends. The Services are billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months, for account upgrades or downgrades, or for months unused with an open account.</p>
            </li>
            <li><strong>Annual Plan:</strong> Payment in advance is required to continue using the Services on an annual basis after the thirty (30) day trial period ends. The Services are billed in advance on a yearly basis. If you decide to terminate your Annual Plan, we will refund you a prorated amount for the period from the date of your termination to the end of your current Annual Plan. All other refund requests must be made in writing and we reserve the right to deny such request for any reason.</li>
          </ul>
          <p>You shall provide Audio Visual Preservation Solutions, Inc. with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize Audio Visual Preservation Solutions, Inc. to charge all Subscription fees incurred through your account to any such payment instruments.</p>
          <p>Should automatic billing fail to occur for any reason, Audio Visual Preservation Solutions, Inc. will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.</p>
          <p>We reserve the right to change service fees upon thirty (30) days notice. Such notice may be provided at any time by posting the changes to AVP or by email.</p>
          <p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Audio Visual Preservation Solutions, Inc. cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting Audio Visual Preservation Solutions, Inc. customer support team.</p>
        </li>
        <li>
          <div class="title">Free Trial</div>
          <p>Audio Visual Preservation Solutions, Inc. may, at its sole discretion, offer a Subscription with a free trial based on a limited period of time, number of users, number of records, or some other measure ("Free Trial").
          You may be required to enter your billing information in order to sign up for the Free Trial.</p>
          <p>If you do enter your billing information when signing up for the Free Trial, you will not be charged by Audio Visual Preservation Solutions, Inc. until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription, you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.</p>
          <p>At any time and without notice, Audio Visual Preservation Solutions, Inc. reserves the right to (i) modify the terms and conditions of the Free Trial offer, or (ii) cancel such Free Trial offer.</p>
        </li>
        <li>
          <div class="title">Cancellation and Termination</div>
          <p>You are solely responsible for the proper cancellation of your account. You may cancel your account at any time by going to Company Settings and closing your account. An email or phone request to cancel your account is not considered cancellation. You will not be charged after cancellation. There is no cancellation fee.
          In the event of cancellation or termination your account will be immediately disabled, and your account and information cannot be recovered once the account is closed. All account information will be deleted upon cancellation or termination.</p>
          <p>We also reserve the right, but do not have any obligation, to refuse service to anyone and close your account(s) without notice for any or no reason at all.</p>
        </li>

        <li>
          <div class="title">API Terms</div>
          <p>Where applicable, you may access account data via AVP provided APIs (Application Programming Interface). Any use of an API, including use of an API through a third-party product that accesses an AVP provided API, is bound by these Terms.</p>
          <p>You expressly understand and agree that we shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data, or other intangible losses (even if we have been advised of the possibility of such damages) resulting from your use of an API or third-party products that access your data via an API.</p>
          <p>Abuse or excessively frequent requests to AVP via API may result in the temporary or permanent suspension of your access to an API. We may, at our sole discretion, determine abuse or excessive usage of an API. We reserve the right at any time to modify or discontinue, temporarily or permanently, your access to an API (or any part thereof) with or without notice.</p>
        </li>
        <li>
          <div class="title">Indemnification</div>
          <p>You agree to indemnify and hold us harmless from any and all demands, loss, liability, claims or expenses (including attorneys’ fees) made against us by any third party due to or arising out of or in connection with your use of AVP.</p>
        </li>
        <li>
          <div class="title">Representations and Warranties</div>
          <p>To the maximum extent permitted by law, we provide AVP on an “as is” and “as available” basis, which means we don’t provide warranties of any kind, either express or implied, including, but not limited to, warranties of merchantability and fitness for a particular purpose and to any warranties that (i) AVP will meet your specific requirements, (ii) AVP will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of AVP will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through AVP will meet your expectations, and (v) any errors in AVP will be corrected.</p>
        </li>
        <li>
          <div class="title">Limitation of Liability</div>
          <p>To the fullest extent permitted by law, you assume full responsibility for and we disclaim liability to you for any indirect, consequential, exemplary, incidental, or punitive damages, including lost profits, even if we had been advised of the possibility of such damages.</p>
          <p>We disclaim any and all liability for the acts, omissions, and conduct of any third parties related to your use of AVP and any linked sites and services. Your sole remedy against us for dissatisfaction with AVP is to stop using AVP. This limitation of relief is a part of the bargain between you and us. The preceding disclaimer applies to any damages, liability, or injuries whether for breach of contract, tort, negligence or any other cause of action.</p>
          <p>If, notwithstanding the other provisions of the Terms, we are found to be liable to you for any damage or loss which arises out of or is in any way connected with your use of the Website or any of our Services, our liability shall not exceed what you paid us for the Services in the previous month. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.</p>
        </li>
        <li>
          <div class="title">Governing Law; Dispute Resolution</div>
          <p>You agree that all matters relating to your access to or use of AVP, including all disputes, will be governed by the laws of the United States and by the laws of the State of New York without regard to its conflicts of laws provisions. You agree to the personal jurisdiction by and venue in the state and federal courts in New York County, New York, and waive any objection to such jurisdiction or venue. Any claim under these Terms of Use must be brought within one (1) year after the cause of action arises, or such claim or cause of action is barred.</p>
          <p>No recovery may be sought or received for damages other than out-of-pocket expenses, except that the prevailing party will be entitled to costs and attorneys’ fees. In the event of any controversy or dispute between us and you arising out of or in connection with your use of the Websites or Services, the parties shall attempt, promptly and in good faith, to resolve any such dispute. If we are unable to resolve any such dispute within a reasonable time (not to exceed thirty (30) days), then either party may submit such controversy or dispute to mediation. If the dispute cannot be resolved through mediation, then the parties shall be free to pursue any right or remedy available to them under applicable law.</p>
        </li>
        <li>
          <div class="title">Force Majeure</div>
          <p>You agree that we are not liable for any delays or failure in performance of any part of the Services, from any cause beyond our control.</p>
        </li>
        <li>
          <div class="title">Severability</div>
          <p>If one or more sections of the Terms are held unenforceable, then those sections will be removed or edited as little as necessary, and the rest of the Terms will still be valid and enforceable.</p>
        </li>
        <li>
          <div class="title">Assignments</div>
          <p>You may not assign any of your rights under this agreement to anyone else. We may assign our rights to any other individual or entity at our discretion.</p>
        </li>
        <li>
          <div class="title">No Waiver</div>
          <p>Our failure to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision.</p>
        </li>
        <li>
          <div class="title">Entire Agreement</div>
          <p>These Terms and all documents incorporated into these Terms by reference constitute the entire agreement between you and us and govern your use of AVP, superseding any prior agreements between you and us (including, but not limited to, any prior versions of the Terms of Service).</p>
        </li>
        <li>
          <div class="title">Amendments and Changes to AVP</div>
          <p>We reserve the right, at our sole discretion, to change, modify, add, or remove portions of the Terms, at any time. Amendments or changes to these Terms won’t be effective until we post revised Terms on the Website. Unless explicitly stated otherwise, any new features that augment or enhance AVP shall be subject to the Terms.</p>
          <p>It is your responsibility to check the Terms periodically for changes. Your continued use of AVP following the posting of changes will mean that you accept and agree to the changes.</p>
          <p>We reserve the right to do any of the following, at any time, without notice to you: (1) to modify, suspend or terminate operation of or access to AVP, or any portion of AVP for any reason; (2) to modify or change AVP, or any portion of AVP, and any applicable policies or terms; and (3) to interrupt the operation of AVP, or any portion of AVP, as necessary to perform routine or non-routine maintenance, error correction, or other changes.</p>
        </li>
        <li>
          <div class="title">Questions</div>
          <p>If you have any questions or concerns about the Terms, please email us at info@weareavp.com.</p>
        </li>
      </ol>
    </div>
  </div>
</div>