<button class="fa fa-search cursor-pointer no-button trigger-search-button <%= advanced ? 'advanced-search-submit' : 'simple-search-button' %>"
        aria-label="Search button" tabindex="0" data-identifier="<%= identifier %>" style="color: #336175 !important; right: 5px;">
</button>