<div class="edit_form" id="edit_form">
  <div class="title-head p-3 border-bottom">
    <h2 class="h4 m-0">Edit Form</h2>
  </div>
  <div class="p-3">
    <% if from == 'resource_metadata' %>
      <div class="info">
        <% if can? :manage, @collection_resource %>
          <div class="text-holder"><span class="text-info font-weight-bold">Note! </span> Only visible fields can be
            edited. To make a field visible in the Resource Description, go to “Collections” and click on the “Edit” button for the Collection this Resource belongs to.
          </div>
        <% end %>

      </div>
    <% end %>
    <div>
      <% if from == 'resource_metadata' %>
        <% update_metadata_url = collection_collection_resource_update_metadata_url(@collection_resource.collection, @collection_resource) %>
        <% update_metadata_url = append_param_to_url(params[:keywords], update_metadata_url) %>
      <% else %>
        <% update_metadata_url = collection_resource_file_update_description_url(@collection_resource_file) %>
      <% end %>

      <%= simple_form_for @collection_resource, :url => update_metadata_url, html: {novalidate: true} do |form| %>
        <section class="form-common" style="display: block">
          <%= hidden_field_tag "resource_file_id", @resource_file.try(&:id) %>
          <% @resource_columns_collection.each_with_index do |(system_name, single_collection_field), _index| %>
            <% next if @resource_fields_settings[system_name].blank? || system_name.blank? || !@resource_fields_settings[system_name]['description_display'].to_s.to_boolean? || !single_collection_field['status'].to_s.to_boolean?%>
            <% next unless show_internal_field?(@resource_fields_settings, system_name, current_user_is_org_user?(current_organization)) %>
            <% field_settings = Aviary::FieldManagement::FieldManager.new(@resource_fields_settings[system_name], system_name)  %>
            <% label = field_settings.label %>
            <% if from == 'resource_metadata' %>
              <% next if label == 'Title' %>
              <%= render partial: 'collection_resources/common/field_values_description', locals: {field_settings: field_settings, system_name: system_name, field: single_collection_field, values:  @resource_description_value.present? && @resource_description_value.resource_field_values.present? ? @resource_description_value.resource_field_values[system_name] : nil, from: from} %>
            <% else %>
              <% next if label == 'Title' %>
              <%= render partial: 'collection_resources/common/field_values_description', locals: {field_settings: field_settings, system_name: system_name, field: single_collection_field, values:  @resource_description_value.present? && @resource_description_value.present? && @resource_description_value[system_name].present? ? @resource_description_value[system_name] : nil, from: from} %>
            <% end %>

          <% end %>
        </section>
      <% end %>
    </div>
  </div>

  <div class="p-3 border-top">
    <div class="button-holder text-right">
      <% if from == 'resource_metadata' %>
        <button class="btn btn-primary saveDesriptionCus mr-3" onclick="$('.form_edit_custom_resource .edit_collection_resource').submit()">Save</button>
      <% else %>
        <button class="btn btn-primary saveDesriptionCus mr-3" onclick="$('.form_edit_custom_media_file .edit_collection_resource').submit()">Save</button>
      <% end %>
      <button id="modal-close" class="btn btn-light">Close</button>
    </div>
  </div>
</div>
