.analytics .box {
    border-radius: 6px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.analytics .box .inner {
    height: 24%;
    font-size: 14px;
    position: relative;
    border-radius: 6px;
    text-align: center;
}

.analytics .box .inner:first-child {
    margin-top: 30px;
}

.analytics .box .inner #chartC,
.analytics .box .inner #chartC2 {
    min-height: 125px !important;
}

.analytics .box .inner #chartC > div,
.analytics .box .inner #chartC2 > div {
    height: 100px !important;
}

.analytics .box .inner #chartC svg,
.analytics .box .inner #chartC2 svg {
    height: 120px !important;
}

.analytics .out-of.storage span {
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 1.4;
}

.analytics .out-of.resources {
    top: -70px;
    position: relative;
}

.analytics .box .date-range {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    position: absolute;
    right: 20px;
    top: 8px;
}

.analytics .box .date-range span {
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    padding: 12px 15px;
}

.analytics .box .date-range .form-control {
    border: none;
    height: 35px;
    border-radius: 4px !important;
}

.analytics .box .date-range .form-group + .form-group {
    margin-left: 30px;
}

.analytics .box .date-range .form-group:last-child {
    position: relative;
}

.analytics .head .btn-primary {
    display: inline-block;
    height: 35px;
    padding: 8px 15px;
    text-transform: capitalize;
    margin-left: 10px;
    line-height: normal;
}

.analytics .head .btn-primary:hover {
    color: #fff;
}

.analytics .table-hold .head strong {
    padding: 5px;
    font-weight: normal;
}

.analytics .box .form-group {
    margin-bottom: 0;
}

.analytics .most-pop-res {
    background: #fff;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.analytics .head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 -20px 15px;
    padding: 10px 20px;
    height: 60px;
    overflow: inherit;
    position: relative;
}

.analytics .box .checks {
    margin-top: 8px;
    margin-right: 10px;
}

.analytics .most-pop-res .box .checks {
    margin-top: 10px;
}

.analytics .most-pop-res .date-range {
    margin-top: 5px;
}

.analytics .box .checks > div {
    display: inline-block;
}

.analytics .box .checks .custom-control-label:before,
.analytics .box .checks .custom-control-label:after {
    top: 1px;
}

.analytics .box .checks > div + div {
    margin-left: 20px;
}

.analytics .box table th,
.analytics .box table td {
    padding: 10px 30px;
    font-weight: normal;
    border-top: 1px solid #f3f6f8;
}

.analytics .box table td a {
    color: #333;
}

.analytics .box table td a strong {
    font-weight: normal;
}

.analytics .table-hold {
    margin: 0;
}

.analytics .box table th {
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
    border-top: none;
}

.analytics .box h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.analytics .box > h2 {
    margin-bottom: 10px;
}

.analytics .resource-detail .img {
    width: 35px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.analytics .resource-detail .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.analytics .resource-detail strong {
    overflow: hidden;
    font-weight: 500;
}

.dt-buttons {
    float: right;
}

.popular_search_terms_filter {
    float: left;
}

.analytics .small-box .box {
    background: #f9f9f9;
    padding: 45px 20px 0;
}

.analytics .small-box .box > div {
    margin: 0 -20px;
    background: #fff;
    padding: 10px 20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.analytics .small-box .sb-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 3px;
}

.analytics .small-box .sb-title-small {
    font-size: 14px;
    color: #6d6d6d;
}

.analytics .small-box img {
    position: absolute;
    top: 12px;
    right: 30px;
    width: 20px;
    height: auto;
    display: block;
}
