.collection-landing.details .head {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    display: table;
    background-position: center;
}

.collection-landing.details .head:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
}

.collection-landing.details .head .container {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 30px;
}

.collection-landing.details .head .title h2 {
    color: #fff;
    text-shadow: 0 2px 2px #000;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
}

.collection-landing.details .banner {
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 230px;
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.08);
    background: #f9f9f9;
}

.collection-landing.details .hold {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.collection-landing.details .hold img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.collection-landing.details .text strong {
    font-size: 18px;
    line-height: 28px;
}

.collection-landing.details h3.collection-h3 {
    font-weight: 600;
}

.collection-landing.details .content {
    margin-top: 0 !important;
    position: relative;
}

.collection-landing.details ul {
    width: 100%;
    background: #fff;
    padding: 0;
    letter-spacing: -5px;
    border: 1px solid #f9f9f9;
}

.collection-landing.details ul li {
    letter-spacing: normal;
    font-size: 14px;
    padding: 15px 25px;
    overflow: hidden;
}

.collection-landing.details ul li:nth-child(odd) {
    background: #f9f9f9;
}

.collection-landing.details ul li strong {
    width: 11%;
    float: left;
    font-weight: 600;
    padding-right: 10px;
}

.collection-landing.details ul li .details {
    overflow: hidden;
}

.collection-landing.details ul li span {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
}

.collection-landing.details ul li span:after {
    content: "|";
    position: absolute;
    top: -3px;
    right: -14px;
    font-size: 18px;
    color: #ccc;
}

.collection-landing.details ul li span:last-child:after {
    display: none;
}

.collection-landing.details ul li h1 span,
.collection-landing.details ul li h2 span,
.collection-landing.details ul li h3 span,
.collection-landing.details ul li h4 span,
.collection-landing.details ul li h5 span,
.collection-landing.details ul li h6 span {
    margin: 0;
}

.collection-landing.details .text {
    padding: 25px 15px;
    line-height: 1.6;
}

.home-featured-collections .owl-nav,
.home-featured-organizations .owl-nav {
    display: block !important;
}

.home-featured-organizations .resource-detail-data {
    padding: 8px 0;
}

.all-resources.container {
    padding: 40px 30px 20px;
}

.all-resources.container > div {
    margin-bottom: 30px;
}

.resource-detail-data {
    padding: 20px 0;
    background: #fff;
}

.resource-detail-data .main-hold {
    display: inline-block;
    vertical-align: middle;
}

.resource-detail-data .details {
    width: 69%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    overflow: hidden;
}

.resource-detail-data .img-hold {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 2px solid #f8f8f8;
    border-radius: 70px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

.resource-detail-data .img-hold img {
    width: 100%;
    height: auto;
    display: block;
}

.publish-date {
    position: absolute;
    font-size: 13px;
    background: #f26822;
    padding: 4px 6px;
    border-radius: 4px;
    top: 10px;
    right: 10px;
    color: #fff;
    z-index: 2;
}

.resource-detail-data .details .title {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 1px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.resource-detail-data .details .title:hover {
    color: #000;
}

.resource-detail-data .details .collection-title {
    font-weight: 400;
    font-size: 14px;
    color: #5d5d5d;
    display: block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.all-resources .name,
.collection-landing.details .name {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.all-resources .value,
.collection-landing.details .value {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 300;
    width: 79%;
    display: inline-block;
    vertical-align: top;
}

.all-resources .image,
.collection-landing.details .item {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 150px;
    background-color: #f5f4f3;
    position: relative;
}

.tab-content .all-resources .image,
.tab-content .collection-landing.details {
    height: 150px;
}

.all-resources .item .image:after,
.collection-landing.details .item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.23) 100%);
}

.collection-landing.details .assets {
    margin: 0 0 30px;
}

.all-resources .text,
.collection-landing.details .assets .text {
    width: 100%;
    color: #000;
    padding: 20px;
    border-radius: 0;
}

.all-resources .owl-item a {
    text-decoration: none;
}

.all-resources .badge-secondary {
    border: 2px solid #f1f3f6;
    color: #000;
    background: #f1f3f6;
    margin-right: 3px;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}

.all-resources .owl-item {
    margin-bottom: 20px;
    flex: 1;
    -webkit-box-shadow: 0 9px 20px #ececec;
    -moz-box-shadow: 0 9px 20px #ececec;
    box-shadow: 0 9px 20px #ececec;
    flex-direction: column;
    overflow: hidden;
}

.reso-title,
.wrap-text h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 15px 70px 15px 20px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    bottom: 0;
}

.reso-title time {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #111;
    font-weight: normal;
    font-size: 12px;
    padding: 6px 12px;
}

.wrap-text ul li span.title {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 0 0 10px;
    float: left;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.wrap-text ul {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.wrap-text ul li {
    margin: 0;
    flex: none;
    text-align: left;
    font-size: 14px;
    clear: both;
    color: #444;
    padding: 0 5px !important;
}

.wrap-text ul li:last-child {
    border: none !important;
}

.wrap-text ul li .with-select {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.collection-landing.details .text h4 {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 0 0 8px;
}

.all-resources .text strong,
.collection-landing.details .assets .text strong {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    margin: 0;
    font-weight: 300;
}

.all-resources {
    position: relative;
}

.all-resources ul {
    border: none !important;
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.all-resources ul li {
    flex: 1;
    padding: 0;
    border: none;
    background-color: transparent !important;
}

.all-resources ul li .item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.all-resources ul li:nth-child(4n) .item {
    margin-right: 0;
}

.all-resources .btn.all_resource_pagination_prev,
.all-resources .btn.all_resource_pagination_next {
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 9;
    font-size: 25px !important;
    border: 2px solid #333 !important;
    width: 40px;
    height: 40px;
    line-height: 0 !important;
    border-radius: 100% !important;
    transform: translateY(-35%);
    background: transparent;
    -webkit-transform: translateY(-35px);
    margin: 0 !important;
    outline: none !important;
    -webkit-appearance: none;
    padding: 11px 5px !important;
}

.all-resources .btn.all_resource_pagination_next {
    top: 150px !important;
}

.wrap-text .text dt,
.featured-post .text dt,
.all-resources .text dt {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    margin: 2px;
    vertical-align: top;
    text-overflow: ellipsis;
    font-weight: 600;
}

.wrap-text .text dd,
.featured-post .text dd,
.all-resources .text dd {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: 2px;
    font-size: 14px;
    font-weight: 400;
}

.all-resources .btn span {
    position: relative;
    top: -5px;
}

.all-resources .loading {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    left: 0;
    background: rgba(255, 255, 255, 0.97);
}

.all-resources .loading.show {
    opacity: 1;
    visibility: visible;
}

.loading .text-hold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-69%, -50%);
    -webkit-transform: translate(-69%, -50%);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto";
    text-transform: capitalize;
}

.loading .img {
    margin-bottom: -60px;
}

.loading .img img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 992px) {
    .all-resources ul li {
        width: 33.333%;
    }

    .all-resources ul li .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .all-resources ul li:nth-child(4n) .item {
        margin-right: 10px;
    }

    .all-resources ul li:nth-child(3n) .item {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .collection-landing.details .name,
    .collection-landing.details .value {
        width: 100%;
    }

    .all-resources ul {
        width: 90%;
    }

    .all-resources ul li {
        width: 50%;
    }

    .all-resources ul li .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .all-resources ul li:nth-child(3n) .item {
        margin-right: 10px;
    }

    .all-resources ul li:nth-child(2n) .item {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .all-resources ul {
        width: 100%;
    }

    .all-resources ul li {
        width: 100%;
    }

    .all-resources ul li .item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .all-resources ul li:nth-child(3n) .item {
        margin-right: 0;
    }

    .all-resources ul li:nth-child(2n) .item {
        margin-right: 0;
    }

    .all-resources .btn {
        top: -50px;
        transform: none;
    }

    .all-resources .loading {
        bottom: 0;
    }

    .loading .text-hold {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}
