/*
    @author Nouman Tayyab <nouman@weareavp.com>
*/
.page-link {
    color: #269af2;
}

.page-item .page-link {
    background-color: #eee !important;
    border: 1px solid #979da5 !important;
    color: #6e7684 !important;
    width: 20px;
    height: 20px;
    padding: 0;
}

.page-item.active .page-link {
    background-color: #fff !important;
    border: 1px solid #000 !important;
    color: #000 !important;
    width: 20px;
    height: 20px;
    padding: 1px;
    font-size: 12px;
    line-height: 17px;
}

.page-item.active .page-link:hover {
    border-color: #204f92;
    background-color: #204f92 !important;
    color: #fff !important;
}

.resource-heading-text a {
    color: #333;
    font-weight: normal;
}

.timeline-player-bar {
    background: #336075;
    height: 40px;
    position: relative;
    z-index: 3;
}

.timeline-player-bar span {
    width: 5px;
    position: absolute;
    height: 40px;
    cursor: pointer;
}

.timeline-player-bar span.light-orange {
    background-color: #FEB542;
}

.timeline-player-bar span.dark-orange {
    background-color: #001721 !important;
}

.timeline-player-bar span.yellow {
    background-color: #ffd102;
}

.timeline-player-bar span.blue {
    background-color: #f2f5f6;
}

.timeline-player-bar span.green {
    background-color: #04f51e;
}

.cc_checkbox {
    float: right;
    margin-right: 10px;
}

#sortable_transcript .sortable-li,
#sortable_index .sortable-li {
    padding: 5px;
    margin-bottom: 0;
}

.manage-media-thumbnail {
    margin-right: 10px !important;
}

#collection_resource_datatable th:after {
    display: none !important;
}

#collection_resource_datatable th:before {
    display: none !important;
}

.bulk-edit-review-modal .dataTables_filter {
    float: right !important;
}

.highlight-marker,
.file_index_mark_custom .highlight-marker,
.file_transcript_mark_custom .highlight-marker {
    cursor: pointer;
    border: 1px solid #ffc800;
    background: rgba(254, 181, 66, 0.15) !important;
    color: #222 !important;
}

.file_index .no-access,
.file_transcript .no-access {
    font-size: 16px;
    line-height: 1.5;
}

.file_index .no-access {
    margin-left: 8px;
}

.service_type_cls {
    text-transform: capitalize;
}

h1.MsoNormal span {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

h2.MsoNormal span {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

h3.MsoNormal span {
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}

h4.MsoNormal span {
    display: block;
    font-size: 1em;
    margin: 1.33em 0;
    font-weight: bold;
}

h5.MsoNormal span {
    display: block;
    font-size: 0.83em;
    margin: 1.67em 0;
    font-weight: bold;
}

.selectize-dropdown-content .badge-danger,
.selectize-input .badge-danger {
    background-color: #204f92;
    padding: 2px 5px;
    font-size: 12px;
    position: relative;
    left: 0px;
    top: -1px;
}

.finish_editing {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 12px !important;
    white-space: nowrap;
    color: #fff !important;
    cursor: pointer;
}

.finish_editing:hover {
    text-decoration: none;
}

.learn-more-watson {
    padding-top: 40px;
    padding-left: 0;
}

.watson-nowrap {
    white-space: nowrap;
}

.transcription_log_info {
    cursor: pointer;
}

.mejs__vrview-button > button,
.mejs-vrview-button > button {
    display: none;
}

.mejs__vrview-button {
    display: none;
}

.resource-edit-breadcrumb.breadcrumb {
    padding: 10px 0;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 0;
}

.indexes_label,
.transcripts_label {
    font-size: 14px;
    color: #00324B;
    display: block;
    margin-bottom: 0;
}

.file {
    position: relative;
    background: linear-gradient(to right, lightblue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
    margin-bottom: 10px;
    padding: 5px;
}

.file .message {
    text-align: right;
}

.import_csv_note {
    list-style: disc;
    margin: 0 20px;
}

.audio-player .video-js.vjs-audio .vjs-big-play-button {
    display: none;
}

/* Audio: Make the controlbar visible by default */
.audio-player .video-js.vjs-audio .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Make player height minimum to the controls height so when we hide video/poster area the controls are displayed correctly. */
.audio-player .video-js.vjs-audio {
    min-height: 3em;
}

.player-section {
    visibility: hidden;
}

.audio-player {
    margin-top: 21px;
}

.heading-holder .collection_resource_edit_title {
    vertical-align: middle;
    text-decoration: none;
}
