@import 'datatables/dataTables.bootstrap4';
@import 'webfonts';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

div.dataTables_wrapper div.dataTables_filter {
  text-align: initial;
}

.dataTables_length {
  display: inline-block;
  vertical-align: inherit;
  margin: 15px 0;
  border: 1px solid #dfe4ea !important;
  padding: 0 0 0 10px;
  border-radius: 4px;
}
#billing_history_table_length select {
  font-size: 12px;
  height: 30px !important;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 60px;
}

.dataTables_length .selectize-input {
  min-height: inherit;
  padding: 5px 0px 5px 5px !important;
  font-size: 12px;
  width: 50px;
  line-height: 1;
}

table.dataTable {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-collapse: collapse !important;
}

.dataTables_wrapper {
  border: 1px solid #dfe4ea;
  border-radius: 0 0 6px 6px;
}

.dataTable tbody tr:nth-of-type(odd) {
  background: rgb(249, 250, 251) !important;
}

.dataTables_wrapper .row:first-child {
  margin: 0;
  background: #fff;
  border-bottom: none;
}
.dataTables_wrapper .row:last-child {
  border-top: 1px solid #dfe4ea;
}
.dataTables_wrapper .row:last-child .dataTables_paginate {
  margin: 20px 0 !important;
}

.data-table .dataTables_length .form-control {
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
}

.dataTables_filter {
  padding: 15px 0;
}

.data-table .dataTables_filter .form-control {
  height: 30px !important;
  border-radius: 4px !important;
}

.data-table .dataTables_paginate {
  margin: 10px 0 !important;
}

div.dataTables_wrapper div.dataTables_info {
  font-size: 12px;
  padding: 12px 10px !important;
  white-space: normal;
  display: inline-block;
}

.dataTables_filter label {
  font-size: 14px;
  font-weight: bold;
}

.data-table table {
  width: 100% !important;
  border: none;
}

.data-table thead {
  background: #f1f3f6;
  color: #656565;
  font-family: var(--aviary-title-font);
}

.data-table thead th {
  border: none;
  border-top: 0 solid #dfe4ea;
  border-bottom: 1px solid #dfe4ea;
  border-bottom-color: #dfe4ea !important;
  padding: 15px;
  font-weight: 600;
  background: #fff;
  color: #000;
  font-size: 14px;
}

.data-table tbody td {
  padding: 15px !important;
  font-family: var(--aviary-font-family);
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  border: none;
}

.data-table tbody tr:hover td {
  background: #edf0f4;
}

.data-table .btn-sm {
  font-size: 12px !important;
  white-space: nowrap;
}

// .data-table .btn-default {
//   color: #269af2;
//   background: rgba(38, 154, 242, 0.05) !important;
//   border: none !important;
// }

// .data-table .btn-success {
//   color: #28a745;
//   background: rgba(40, 167, 69, 0.05) !important;
//   border: none !important;
// }

// .data-table .btn-danger {
//   color: #cb6151;
//   background: rgba(203, 97, 81, 0.05) !important;
//   border: none !important;
// }

// .data-table .btn-primary {
//   color: #204f92;
//   background: rgba(240, 92, 31, 0.05) !important;
//   border: none !important;
// }
.dataTables_scrollBody th,
.collections-datatable .dataTables_scrollBody th {
  border: none !important;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px !important;
}

.data-table .btn-sm {
  text-decoration: none;
}

.data-table .btn-custom-show {
  color: #0a8dc3;
  text-decoration: none;
  padding: 0 7px;
}

.data-table .btn-custom-edit {
  color: #879999;
  text-decoration: none;
  padding: 0 7px;
}

.data-table .btn-custom-del {
  color: #cb6151;
  text-decoration: none;
  padding: 0 7px !important;
}

.data-table.editing-details {
  padding: 20px;
}

.dataTables_paginate {
  margin-right: 15px;
}

.dataTables_paginate .paginate_button.current {
  font-size: 16px;
  font-family: "Roboto";
  background: none !important;
  border: none !important;
  display: inline-block;
  text-align: center;
  padding: 4px 10px 0 28px;
  vertical-align: top;
}

.dataTables_paginate .paginate_button.current:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.dataTables_paginate a.previous,
.dataTables_paginate a.next {
  color: #fff !important;
  position: relative;
  font-size: 0;
  cursor: pointer;
  text-align: center;
  font-family: "icomoon" !important;
  display: inline-block;
  vertical-align: top;
}

.dataTables_paginate a.next:hover {
  background-color: transparent !important;
  color: #000 !important;
  border: none !important;
}

.dataTables_paginate a.previous:before {
  content: "\e90a";
  position: absolute;
  font-size: 20px;
  color: #333;
}

.dataTables_paginate a.next:before {
  content: "\e90b";
  position: absolute;
  font-size: 20px;
}

.table thead th {
  border-bottom: 2px solid #dee2e6 !important;
}

#collection_resource_datatable thead th {
  border-bottom: 0px solid #dee2e6 !important
}
.DTFC_RightBodyLiner thead th {
  border-bottom: 0px solid #dee2e6 !important
}
#playlist_data_table_wrapper thead th {
  border-bottom: 1px solid #dee2e6 !important
}
.dataTables_scrollBody thead th,
.collections-datatable .dataTables_scrollBody th {
  border: none !important;
}