@import 'datatables/dataTables.bootstrap4';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

div.dataTables_wrapper div.dataTables_filter {
  text-align: initial;
}

table.dataTable {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-collapse: collapse !important;
}

.data-table .dataTables_length {
  padding: 0 0 20px;
}

.data-table .dataTables_length .form-control {
  margin: 0 10px;
}

.data-table .dataTables_filter {
  padding: 10px 0 0;
}

.data-table .dataTables_filter .form-control {
  height: 30px !important;
  border-radius: 4px !important;
}

.data-table .dataTables_paginate {
  margin: 10px 0 !important;
}

div.dataTables_wrapper div.dataTables_info {
  font-size: 14px;
  padding-top: 10px !important;
  white-space: normal;
}

.data-table .dataTables_filter label {
  font-size: 12px;
  font-weight: bold;
}

.data-table table {
  width: 100% !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
}

.data-table thead {
  background: #f2f2f2;
  color: #676767;
  font-family: "Roboto";
}

.data-table thead th {
  border-bottom: 1px solid #007bff !important;
  padding: 15px 10px;
  font-weight: 600;
  background: #ecf0f1;
  color: #222;
  font-size: 14px;
}

.data-table tbody td {
  padding: 10px !important;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  background: #fff;
}

.data-table .btn-sm {
  font-size: 12px !important;
  white-space: nowrap;
}

.data-table .btn-primary {
  color: #fff;
  background: #f05c1f !important;
  border-color: #f05c1f !important;
}

.data-table .btn-sm {
  text-decoration: none;
}

.data-table .btn-custom-show {
  color: #0a8dc3;
  text-decoration: none;
  padding: 0 7px;
}

.data-table .btn-custom-edit {
  color: #879999;
  text-decoration: none;
  padding: 0 7px;
}

.data-table .btn-custom-del {
  color: #cb6151;
  text-decoration: none;
  padding: 0 7px !important;
}

.data-table.editing-details {
  padding: 20px;
}

.dataTables_paginate {
  margin-right: 15px;
}

.dataTables_paginate .paginate_button.current {
  font-size: 16px;
  font-family: "Roboto";
  background: none !important;
  border: none !important;
  display: inline-block;
  text-align: center;
  padding: 4px 10px 0 28px;
  vertical-align: top;
}

.dataTables_paginate .paginate_button.current:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.dataTables_paginate a.previous,
.dataTables_paginate a.next {
  color: #fff !important;
  position: relative;
  font-size: 0;
  cursor: pointer;
  text-align: center;
  font-family: "icomoon" !important;
  display: inline-block;
  vertical-align: top;
}

.dataTables_paginate a.next:hover {
  background-color: transparent !important;
  color: #000 !important;
  border: none !important;
}

.dataTables_paginate a.previous:before {
  content: "\e90a";
  position: absolute;
  font-size: 20px;
  color: #333;
}

.dataTables_paginate a.next:before {
  content: "\e90b";
  position: absolute;
  font-size: 20px;
}
