.list-group-custom {
    margin-left: 25px;
}

.import-tab-content {
    margin: 20px 0;
    padding: 0;
}

.disable_btn {
    opacity: 0.4;
    cursor: not-allowed;
}

.aviary-import-text li {
    padding-bottom: 10px;
}

.preview_error_listing ul {
    max-height: 300px;
    overflow-y: scroll;
}

.disable_btn:hover,
.disable_btn:focus {
    opacity: 0.4 !important;
}
