<%= render partial: 'playlists/edit/hidden_fields' %>
<ul>
  <% all_files = @playlist_files %>
  <% all_files.each_with_index do |single_file, index| %>
    <% can_access = permission_to_access_file?(single_file) %>
    <%= render partial: 'collection_resources/show/resource_file_slider_card_start', locals: {single_file: single_file, can_access: can_access, index: index} %>
    <%= render partial: 'playlists/edit/checkbox', locals: {single_file: single_file} %>
    <%
      param_inner = {playlist_id: @playlist_resource.playlist, playlist_resource_id: @playlist_resource.id, collection_resource_file_id: single_file.id}

      media_url_inner = if @playlist_action == 'edit'
                          playlist_edit_url(param_inner)
                        else
                          current_playlist_item = @playlist_resource.present? && @playlist_resource.playlist_items.present? ? @playlist_resource.playlist_items.find_by_collection_resource_file_id(single_file.id) : nil
                          param_inner[:pst] = current_playlist_item.start_time.to_f if current_playlist_item.present? and current_playlist_item.start_time.present?
                          param_inner[:pet] = current_playlist_item.end_time.to_f if current_playlist_item.present? and current_playlist_item.end_time.present?
                          param_inner[:share] = params[:share] if params[:share].present?
                          param_inner[:access] = params[:access] if params[:access].present?
                          playlist_show_url(param_inner)
                        end
      media_url_inner += "?1=1" unless media_url_inner.include?('?')
      media_url_inner += "&embed=#{params[:embed]}" if params[:embed].present?
      media_url_inner += "&media_player=#{params[:media_player]}" if params[:media_player].present?
      media_url_inner = append_param_to_url(params[:keywords], media_url_inner)
    %>
    <%= render partial: 'collection_resources/show/single_card', locals: {single_file: single_file, index: index, media_url_inner: media_url_inner, can_access: can_access} %>
    </li>
  <% end %>
</ul>