<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder">
          <div class="heading-holder table-head">
            <div class="row">
              <div class="col-md-7"><h1>Authentication Configuration</h1></div>
              <div class="col-md-5 ">
                <div class="dropdown float-right ml-2">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Configuration
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(163px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="<%= new_idp_url(1) %>" class="dropdown-item">SAML 2.0</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="data-table">
          </div>
    </main>
  </div>
</div>
