<div class="organization-section">
  <div class="form-head">
    <h1>Create Organization</h1>
  </div>
  <div class="container">
    <div class="form">
      <div class="col-md-8 offset-md-2">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>