<div class="price-plans">
  <div class="head">
    <h1>Join Your Organization</h1>
  </div>
  <div class="container">
    <div class="row flex-items-xs-middle flex-items-xs-center">

      <!-- Table #1  -->
      <div class="col-xs-12 col-lg-4">
        <div class="card_price text-xs-center">
          <div class="card-header">
            <h3 class="display-2"><span class="currency">$</span>19<span class="period">/month</span></h3>
          </div>
          <div class="card-block text-center">
            <h4 class="card-title">
              Basic Plan
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Ultimate Features</li>
              <li class="list-group-item">Unlimited Resources</li>
              <li class="list-group-item">Personal Domain</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <%= link_to 'Choose Plan', new_organization_path, class: 'btn btn-gradient mt-2' %>
          </div>
        </div>
      </div>

      <!-- Table #1  -->
      <div class="col-xs-12 col-lg-4">
        <div class="card_price text-xs-center">
          <div class="card-header">
            <h3 class="display-2"><span class="currency">$</span>29<span class="period">/month</span></h3>
          </div>
          <div class="card-block text-center">
            <h4 class="card-title">
              Regular Plan
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Ultimate Features</li>
              <li class="list-group-item">Unlimited Resources</li>
              <li class="list-group-item">Personal Domain</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <%= link_to 'Choose Plan', new_organization_path, class: 'btn btn-gradient mt-2' %>
          </div>
        </div>
      </div>

      <!-- Table #1  -->
      <div class="col-xs-12 col-lg-4">
        <div class="card_price text-xs-center">
          <div class="card-header">
            <h3 class="display-2"><span class="currency">$</span>39<span class="period">/month</span></h3>
          </div>
          <div class="card-block text-center">
            <h4 class="card-title">
              Premium Plan
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Ultimate Features</li>
              <li class="list-group-item">Unlimited Resources</li>
              <li class="list-group-item">Personal Domain</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <%= link_to 'Choose Plan', new_organization_path, class: 'btn btn-gradient mt-2' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>