<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-6"><h1>Playlists</h1></div>
            <div class="col-md-6">
              <%= link_to 'Add Playlist', new_playlist_path, class: 'btn btn-primary btn-xs pull-right' %>
              <%= link_to 'Export to CSV', playlist_export_path, class: 'btn btn-outline-primary btn-xs pull-right mr-2' %>
            </div>
          </div>
        </div>
      </div>
      <div class="data-table playlists-datatable">
        <div>
          <%= content_tag :table, role: :datatable, class: ["table", "table-striped", 'table-bordered'], id: 'playlist_data_table', data: { url: playlists_path(format: :json)} do %>
            <thead>
            <tr>
              <th>Name</th>
              <th>Entries</th>
              <th>Featured</th>
              <th>Public</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>
<script type="text/javascript">
    var playlist = new Playlist();
    document.addEventListener("DOMContentLoaded", function (event) {
        playlist.initialize();
    });
</script>
