<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="heading-holder table-head my-4">
        <div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="mb-0">Create Playlist</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="playlist-section">
        <%= render 'form' %>
      </div>
    </main>
  </div>
</div>