<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="text-headline jumbotron">
        <div class="heading-holder table-head">
          <div class="row">
            <div class="col-md-6"><h1>
                OHMS Integrations</h1></div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="wrapper">
            <div class="org-metadata">
              <div class="text-headline jumbotron">
                <p>OHMS integration short integration </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>