<div id="main_container" class="container-fluid">
  <div class="main_contain">
    <main>
      <div class="heading-holder table-head text-headline jumbotron">
        <div>
          <div class="row">
            <%= render 'breadcrumb' %>
            <div class="col-md-12">
              <h1>Create Thesaurus</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="organization-section">
        <%= render 'form' %>
      </div>
    </main>
  </div>
</div>