<div class="loading_skeleton" style="display: none;">
  <div class="loadingPlaceholder container">
    <div class="row">
      <% (1..count).each do |i| %>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 skeliton-section-<%= i %>">
          <div class="card">
            <div class="card-text">
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
              <span class="content-placeholder" style="width:100%;">&nbsp;</span>
            </div>

            <div class="card-text p-3">
              <div class="left-round-image content-placeholder" style="width:45px;height: 45px;border-radius: 100%;float: left;margin-right: 8px;">&nbsp;</div>
              <span class="content-placeholder" style="width:75%; border-radius: 8px;">&nbsp;</span>
              <span class="content-placeholder mt-1" style="width:50%; border-radius: 8px;">&nbsp;</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>