<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:500,700" rel="stylesheet">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body bgcolor="#FFFFFF">
    <%= yield %>
  </body>
</html>
